/* General Styling */
body {
 background-color: #3B3433; 
}

h1, h2, h3 {
  color: white
}

a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

#div_nav_menu {
  background-color:#374074;
}

#nav_menu li{
  list-style: none;
  text-align: center;
  background-color: #374074;
  display: inline-block;
  list-style-position: left;
  padding: 16px;
}

#caption {
  color: white;
}

#title_image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

td, th, li {
  color: white
}


/* Home Page */
.select_image {
  width: 500px;
  height: auto;
}

#subpage_links, #form_submit{
  background-color: #5B659E;
  padding: 8px;
}


/* Ski Weather Page */
#div_meta, #weather_link {
  background-color: #5B659E;
  padding: 8px;
}

#meta {
  list-style: none
}

#div_ski_table {
  height: 100px;
  overflow: auto;
  background-color: #5B659E;
  padding: 8px;
}

#ski_table {
  border: 1px solid black;
}


/* Surf Weather Page */
#div_meta, #surf_link {
  background-color: #5B659E;
  padding: 8px;
}

#meta {
  list-style: none
}

#div_surf_table {
  height: 100px;
  overflow: auto;
  background-color: #5B659E;
  padding: 8px;
}

#surf_table {
  border: 1px solid black;
}


/* location-page Styling */
#div_loc_select, #div_download {
  background-color: #5B659E;
  padding: 8px;
}

#ski_select, #surf_select {
  list-style: none;
}
