<h1>Ski and Surf Forecasting</h1>

<div id="div_nav_menu">
  <ul id="nav_menu">
    <li><a href="/" class="btn">Home</a>
    <li><a href="/weather-data" class="btn">Snow Weather Data</a>
    <li><a href="/surf-data" class="btn">Surf Conditions Data</a>
    <li><a href="/location-page" class="btn">Location Finder</a>
  <ul>  
</div>

<h2>Go to subpages</h2>
<div id="subpage_links">
  <a href="/weather-data" class="btn">Snow Weather
    <br/>
    <figure>
      <img class="select_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Ski_Famille_-_Family_Ski_Holidays.jpg/1200px-Ski_Famille_-_Family_Ski_Holidays.jpg">
      <figcaption id="caption">Image Source: https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Ski_Famille_-_Family_Ski_Holidays.jpg/1200px-Ski_Famille_-_Family_Ski_Holidays.jpg</figcaption>
    </figure>
    <br/>
  </a>
 
  <a href="/surf-data" class="btn">Surf Conditions
    <br/>
    <figure>
      <img class="select_image" src="https://www.surfertoday.com/images/jamp/page/glossary-of-surfing.jpg">
      <figcaption id="caption">Image Source: https://www.surfertoday.com/images/jamp/page/glossary-of-surfing.jp://www.surfertoday.com/images/jamp/page/glossary-of-surfing.jpg</figcaption>
    </figure>
  </a>  
  
  <a href="/location-page" class="btn">Location Finder
    <br/>
    <figure>
      <img class="select_image" src="https://www.nationsonline.org/maps/USA/Oregon_map.jpg">
      <figcaption id="caption">Image Source: https://www.nationsonline.org/maps/USA/Oregon_map.jpg</figcaption>
    </figure>
  </a>
</div>

<h2>Email Subscription</h2>
<div id="form_submit">
  <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get">
    <fieldset>
      <legend>Subscribe for Condition Notifications</legend>
      <label>Name:
        <input type="text" name="name" size="30" maxlength="100">
      </label>
      <br/>
      <label>Email:
        <input type="text" name="email" size="30" maxlength="100">
      </label>
      <br/>
      <label>Phone Number (No dashes):
        <input type="text" name="phone" size="30" maxlength="100">
      </label>
      <input type="submit" value="Subscribe">
    </fieldset>
  </form>       
</div>  
