<h1>Weather Location Finder</h1>
<figure>
  <img id="title_image" src="https://www.nationsonline.org/maps/USA/Oregon_map.jpg">
  <figcaption id="caption">Image Source: https://www.nationsonline.org/maps/USA/Oregon_map.jpg</figcaption>
</figcaption>  
  
<div id="div_nav_menu">
  <ul id="nav_menu">
    <li><a href="/" class="btn">Home</a></li>
    <li><a href="/weather-data" class="btn">Snow Weather Data</a></li>
    <li><a href="/surf-data" class="btn">Surf Conditions Data</a></li>
    <li><a href="/location-page" class="btn">Location Finder</a></li>
  </ul>
</div>
		  
<h2>Select a Forecast Location</h2>
<div id="div_loc_select">
  <h3>Ski Locations in Oregon</h3>
  <ul id="ski_select">
    <li><a href="/weather-data?lat=45.3308&lon=-121.7111" class="btn">Timberline Ski Lodge</a></li>
    <li><a href="/weather-data?lat=44.40149739123055&lon=-121.883151347100" class="btn">Hoodoo Ski Area</a></li>
    <li><a href="/weather-data?lat=43.98087168472895&lon=-121.68866302643421" class="btn">Mt. Bachelor Ski Resort</a></li>
    <li><a href="/weather-data?lat=42.0809&lon=-122.705" class="btn">Mt. Ashland Ski Area</a></li>
  </ul>
				
  <h3>Surf Locations in Oregon</h3>
  <ul id="surf_select">
    <li><a href="/surf-data?lat=44.66642&lon=-124.0696846">Agate Beach</a></li>
    <li><a href="/surf-data?lat=44.74479&lon=-124.06404">Otter Rock</a></li>
    <li><a href="/surf-data?lat=45.75946&lon=-123.97199">Short Sand Beach</a></li>
    <li><a href="/surf-data?lat=43.34921&lon=-124.34832">Coos Bay</a></li>
  </ul>
</div>
								    
<h2>Download Oregon Map</h2>
<div id="div_download">
  <a href="/download-map" class="btn">Download</a>
<div>
